.trailer-preview {
   transform: scale(-1, 1);
   border-radius: 10px;
   
   &.active {
      .trailer-preview__decor {
         background-color: rgba(54, 87, 203, 0.65);
      }
   }
   &__media-block {
      position: relative;
   }

   &__media-block {
      overflow: hidden;
      border-radius: 10PX;
      min-width: 290px;

      & > img {
         width: 100%;
         aspect-ratio: 16/9;
         object-fit: cover;
      }
   }

   &__decor {
      
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 4;
      position: absolute;
      top: 0;

      right: 0;

      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.193);
   }

   &__text {
      font-size: 20px;
      font-weight: 700;
      margin-top: 10px;
   }
}

.play {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;

   & img {
      width: 35px;
   }
}
